.blob {
    position: relative;
  }
  
  .blob-top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-image: url(../../../assets/SignUpImages/SignUpBlob.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .blob-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 150px;
    height: 150px;
    background-image: url(../../../assets/SignUpImages/SignUpBlob.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  