@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    /* @apply border-box-borders; */
    @apply opacity-100;
    @apply bg-white;
    @apply bg-opacity-50
}

::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 12px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background: #c6cad5;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Remove flowbit blue outline */
input:focus, textarea:focus, select:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* Webkit browsers (Chrome, Safari, Edge)
Remove change of bg color when brower suggest an input */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: inherit; /* Ensures text color remains unchanged */
}

/* Ensure the styles apply immediately when autofill is used */
input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/* Firefox */
input:-moz-autofill {
  box-shadow: 0 0 0px 1000px white inset;
  -moz-box-shadow: 0 0 0px 1000px white inset;
}

/* Hide the spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Ensure the input field doesn't change appearance */
input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  appearance: textfield;
}

  
