@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    /* Customize the scrollbar width */
    width: 12px;
}

::-webkit-scrollbar-track {
    /* Customize the scrollbar track */
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    /* Customize the scrollbar thumb */
    background: #c6cad5;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

input{
    display: none;
}
  
#checkbox {
    display: none;
}
  
.label {
    position: relative;
    background: #32384b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 5px;
    margin: 0 20px;
    width: 50px;
    height: 26px;
    cursor: pointer;
}
  
.name {
    font-size: 14px;
    color: #32384b;
}
  
.ball {
    background: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    transition: transform 0.15s linear;
}
  
.checkbox:checked + .label .ball {
    transform: translateX(24px);
}
  
